div
{
    width:400px;
    height:400px;
    background-color: red;
    background:linear-gradient(rgb(70, 28, 28),rgb(240, 240, 9),rgb(21, 207, 21));

    background: linear-gradient(to right, red ,blue);
    background: linear-gradient(to left , red,blue);
    background:linear-gradient(to top ,red,blue);
    background: linear-gradient(to bottom,red,blue);

    background: linear-gradient(to bottom right,red ,blue);
    background: linear-gradient(to bottom left,red,blue);
    background:linear-gradient(to top  right , blue ,green);
    background:linear-gradient(to top  left, blue,green);

    background: linear-gradient(45deg,red,blue);
    background: linear-gradient(-45deg,red,blue);


    background:repeating-linear-gradient(red1 0%,blue 20%,green 10%);

    background: radial-gradient(red 40% ,blue 60%);

    
     


}
/*
linear gradient 
repeating-linear gradient
radial gradient
repeating radial-gradient
conic gradient
repeating conic gradient 
*/